@import 'theme/colors.scss';

.list-character {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  overflow: auto;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.list-character-icon-wrapper {
  position: absolute;
  right: 20px;
}

.list-character--icon {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    fill: $blue;
  }
}

.list-character--icon.active {
  fill: $red;
}
